#root {
  --primary: #EFF0F6;
  --secondary: #F5F5F5;
  --tertiary: #7D8DDF;
  --quaternary: #7BC672;
  --quintenary: #6F6C90;
  --sixtinary: #535353;
  
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
