#progress-bar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 33.5rem;
    gap: 8.375rem;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding-top: 2rem;
}  
.step {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--quintenary);
}
.step:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 0px;
    height: 6px;
    border-radius: 40px;
    background-color: var(--tertiary);
}  
.step.active, .step.completed, .step.loading {
    border-color: var(--tertiary);
    background-color: var(--tertiary);
    color: white;
}  
.step.active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 1rem;
    height: 6px;
    border-radius: 40px;
    background-color: var(--tertiary);
    z-index: 1;
    transition: width 0.5s;
}.step.loading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: calc(6.125rem / 2);
    height: 6px;
    border-radius: 40px;
    background-color: var(--tertiary);
    z-index: 1;
    transition: width 0.5s;
}  
.step.completed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 6.125rem;
    height: 6px;
    border-radius: 40px;
    background-color: var(--tertiary);
    z-index: 1;
    transition: width 0.5s;
}  
.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 6.125rem;
    height: 6px;
    border-radius: 40px;
    background-color: var(--primary);
}
  